<a href="https://colab.research.google.com/github/JunHill/CS114.K21.KHTN/blob/master/stock_prediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**STOCK PREDICTION USING MACHINE LEARNING TECHNIQUES**

Thị trường cổ phiếu là một mảnh đất tuy màu mỡ nhưng rất khó xơi cho các nhà phân tích dữ liệu muốn thử sức mình. Với có nguồn dataset phong phú (có thể dễ dàng download bộ dữ liệu giá cổ phiếu của một công ty về xử lí), bài toán dự đoán cổ phiếu rất thích hợp cho việc áp dụng các machine learning model, triệt tiêu các yếu tố cảm xúc mà đưa ra dự đoán thuần logic; Tuy việc kiếm lời cho tới nay vẫn là vô cùng khó.

Vì lí do đó, không tập trung vào việc kiếm lời mà sẽ tập trung vào nghiên cứu thuần túy, project này đề xuất ra một số model machine learning cơ bản (linear regression, K nearest neighbors) và một số deep model (Long short-term memory) để cùng so sánh hiệu suất. 
Input: Historical data tải từ Yahoo Financial và huge stock dataset từ kaggle 
Output:  dự đoán hướng đi của giá stock trong 6 tháng tới

In [0]:
import pandas as pd
import matplotlib.pyplot as plt

In [0]:
df = pd.read_csv("^DJI.csv")

In [0]:
test_df=df[df['Date']>'2015-12-30']

In [0]:
test_df.head()

,Date,Open,High,Low,Close,Adj Close,Volume
3830,2015-12-31,17590.660156,17590.660156,17421.160156,17425.029297,17425.029297,93690000
3831,2016-01-04,17405.480469,17405.480469,16957.630859,17148.939453,17148.939453,148060000
3832,2016-01-05,17147.500000,17195.839844,17038.609375,17158.660156,17158.660156,105750000
3833,2016-01-06,17154.830078,17154.830078,16817.619141,16906.509766,16906.509766,120250000
3834,2016-01-07,16888.359375,16888.359375,16463.630859,16514.099609,16514.099609,176240000

Mô tả bộ dữ liệu: đây là bộ dữ liệu EOD gồm 7 cột data, open (giá mở cửa), high (giá cao nhất ngày), low (giá thấp nhất ngày), close (giá chốt ngày), adj close (adjusted close theo cổ tức), volume (lượng mua bán trong ngày)